@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.bodyy {
  animation-name: animaMode;
  animation-duration: 0.9s;
}

.boxx {
  box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.4);
}

.boxx2 {
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.4);
}

.bigheader {
  position: relative;
  z-index: 10;
}

.head1 {
  font-weight: 400;
}

.next {
  border: 0.5px solid black;
  border-radius: 4px;
  z-index: 30;
}

/*** HOME***/
@keyframes slideHOME {
  0% {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
  100% {
    height: 100px; /* Set to the maximum height of the element */
    opacity: 1;
    overflow: visible;
  }
}

.spann1:hover .num1 {
  display: block;
  animation: slideHOME 0.6s ease-in-out;
}
/*** HOME  Done ***/

/*** MEETING AND BRANCH***/
@keyframes slideMEETING {
  0% {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
  100% {
    height: 200px; /* Set to the maximum height of the element */
    opacity: 1;
    overflow: visible;
  }
}

.spann2:hover .num2 {
  display: block;
  animation: slideMEETING 0.6s ease-in-out;
}
/*** MEETING AND BRANCH ***/

/*** RECREATIONAL SERVICE***/
@keyframes slideRECREATIONAL {
  0% {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
  100% {
    height: 250px; /* Set to the maximum height of the element */
    opacity: 1;
    overflow: visible;
  }
}

.spann3:hover .num3 {
  display: block;
  animation: slideRECREATIONAL 0.6s ease-in-out;
}
/*** RECREATIONAL SERVICE DONE***/

/*** EVENTS***/
@keyframes slideRECREATIONAL {
  0% {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
  100% {
    height: 250px; /* Set to the maximum height of the element */
    opacity: 1;
    overflow: visible;
  }
}

.spann4:hover .num4 {
  display: block;
  animation: slideRECREATIONAL 0.6s ease-in-out;
  overflow: visible;
}
/*** EVENTS DONE***/

.test {
  position: absolute;
  display: none;
  top: 101%;
  z-index: 1;
  cursor: pointer;
}

/* .Hero {
  z-index: -1;
} */
.para {
  @apply text-[9.5px] lg:text-head mt-[20px];
}

.first2 {
  @apply text-[9.5px] lg:text-head;
}

.firstt {
  @apply flex text-[9.5px] lg:text-head justify-center gap-1 items-center p-0 lg:p-2 z-40;
}

.sticky {
  z-index: 1;
}

.lin {
  @apply p-2;
}

.lin {
  transition: border-left-width 0.5s ease-in-out;
}

.lin:hover {
  border-left: 5px solid rgb(205, 162, 116);
}

.first2 {
  @apply bg-headerBtnText  font-semibold px-2 py-1 text-white;
}

.linee {
  @apply hover:text-headerBtnText cursor-pointer transition ease-out duration-700;
}

/* Style only the active SVG */
svg[data-active="true"] {
  stroke: red; /* Change to the color you want for the active SVG */
}

.san {
  @apply h-[81px];
}
.first3 {
  @apply hover:text-headerBtnText cursor-pointer hover:scale-125 transition ease-out duration-700;
}

.arrows {
  @apply text-white  text-[30px] cursor-pointer z-10;
}

.arriv {
  @apply flex flex-col justify-center items-center text-center;
}

.pikin1 {
  @apply text-headerBtnText text-[12px];
}
.pikin1 {
  letter-spacing: 4px;
  line-height: 20px;
}
.pikin2 {
  @apply text-banner3Text2 text-[25px];
}
.pikin2 {
  letter-spacing: 1px;
  line-height: 37px;
  font-family: "Playfair Display", serif;
}
.checkk {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.8px;
  line-height: 20px;
}
/* .size-6 {
  width: 32px;
  height: 32px;
}
 */

/* Toglle method1 */

.smallNav {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-out, opacity 0.6s ease-out;
}

.hide {
  max-height: 0;
  opacity: 1;
  transition: max-height 0.6s ease-out;
  overflow: hidden;
}

.expanded {
  max-height: 500px;
  opacity: 1;
}
/* ***************** */

/* Toggle Method2 */
/* 
.smallNav {
  overflow: hidden;
  max-height: 0;
  transform-origin: top;
  transition: max-height 0.6s ease-in-out; 
}

.smallNav.expanded {
  max-height: 500px; 
}  */
.welcome {
  font-family: "Oswald", sans-serif;

  font-weight: 700;
  line-height: 46.2px;
  text-transform: uppercase;
  word-spacing: 0;
}

.about {

  letter-spacing: 6px;
  line-height: 27.2px;
  font-weight: 400;
  font-family: poppins, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.most {
  font-family: "Oswald", sans-serif;
 
  font-weight: 500;
}

.custom-shadow {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.learn_btn:hover {
  border: 1px solid black;
}

.worrd{
  font-size: 16px;
  line-height: 28px;
   font-weight: 400;
}