@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.bodyy {
  animation-name: animaMode;
  animation-duration: 0.9s;
}

.boxx {
  box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.4);
}

.boxx2 {
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.4);
}

.bigheader {
  position: relative;
  z-index: 10;
}

.head1 {
  font-weight: 400;
}

.next {
  border: 0.5px solid black;
  border-radius: 4px;
  z-index: 30;
}

/*** HOME***/
@keyframes slideHOME {
  0% {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
  100% {
    height: 100px; /* Set to the maximum height of the element */
    opacity: 1;
    overflow: visible;
  }
}

.spann1:hover .num1 {
  display: block;
  animation: slideHOME 0.6s ease-in-out;
}
/*** HOME  Done ***/

/*** MEETING AND BRANCH***/
@keyframes slideMEETING {
  0% {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
  100% {
    height: 200px; /* Set to the maximum height of the element */
    opacity: 1;
    overflow: visible;
  }
}

.spann2:hover .num2 {
  display: block;
  animation: slideMEETING 0.6s ease-in-out;
}
/*** MEETING AND BRANCH ***/

/*** RECREATIONAL SERVICE***/
@keyframes slideRECREATIONAL {
  0% {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
  100% {
    height: 250px; /* Set to the maximum height of the element */
    opacity: 1;
    overflow: visible;
  }
}

.spann3:hover .num3 {
  display: block;
  animation: slideRECREATIONAL 0.6s ease-in-out;
}
/*** RECREATIONAL SERVICE DONE***/

/*** EVENTS***/
@keyframes slideRECREATIONAL {
  0% {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
  100% {
    height: 250px; /* Set to the maximum height of the element */
    opacity: 1;
    overflow: visible;
  }
}

.spann4:hover .num4 {
  display: block;
  animation: slideRECREATIONAL 0.6s ease-in-out;
  overflow: visible;
}
/*** EVENTS DONE***/

.test {
  position: absolute;
  display: none;
  top: 101%;
  z-index: 1;
  cursor: pointer;
}

/* .Hero {
  z-index: -1;
} */
.para {
  @apply text-[9.5px] lg:text-head mt-[20px];
}

.first2 {
  @apply text-[9.5px] lg:text-head;
}

.firstt {
  @apply flex text-[9.5px] lg:text-head justify-center gap-1 items-center p-0 lg:p-2 z-40;
}

.sticky {
  z-index: 1;
}

.lin {
  @apply p-2;
}

.lin {
  transition: border-left-width 0.5s ease-in-out;
}

.lin:hover {
  border-left: 5px solid rgb(205, 162, 116);
}

.first2 {
  @apply bg-headerBtnText  font-semibold px-2 py-1 text-white;
}

.linee {
  @apply hover:text-headerBtnText cursor-pointer transition ease-out duration-700;
}

/* Style only the active SVG */
svg[data-active="true"] {
  stroke: red; /* Change to the color you want for the active SVG */
}

.san {
  @apply h-[81px];
}
.first3 {
  @apply hover:text-headerBtnText cursor-pointer hover:scale-125 transition ease-out duration-700;
}

.arrows {
  @apply text-white  text-[30px] cursor-pointer z-10;
}

.arriv {
  @apply flex flex-col justify-center items-center text-center;
}

.pikin1 {
  @apply text-headerBtnText text-[12px];
}
.pikin1 {
  letter-spacing: 4px;
  line-height: 20px;
}
.pikin2 {
  @apply text-banner3Text2 text-[25px];
}
.pikk {
  @apply text-white;
}

.pikk {
  letter-spacing: 1px;
  line-height: 37px;
  font-family: "Playfair Display", serif;
}
.pikin2 {
  letter-spacing: 1px;
  line-height: 37px;
  font-family: "Playfair Display", serif;
}
.checkk {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.8px;
  line-height: 20px;
}
/* .size-6 {
  width: 32px;
  height: 32px;
}
 */

/* Toglle method1 */

.smallNav {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-out, opacity 0.6s ease-out;
}

.hide {
  max-height: 0;
  opacity: 1;
  transition: max-height 0.6s ease-out;
  overflow: hidden;
}

.expanded {
  max-height: 500px;
  opacity: 1;
}
/* ***************** */

/* Toggle Method2 */
/* 
.smallNav {
  overflow: hidden;
  max-height: 0;
  transform-origin: top;
  transition: max-height 0.6s ease-in-out; 
}

.smallNav.expanded {
  max-height: 500px; 
}  */
.welcome {
  font-family: "Oswald", sans-serif;

  font-weight: 700;
  line-height: 46.2px;
  text-transform: uppercase;
  word-spacing: 0;
}

.about {
  letter-spacing: 6px;
  line-height: 27.2px;
  font-weight: 400;
  font-family: poppins, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.most {
  font-family: "Oswald", sans-serif;

  font-weight: 500;
}

.custom-shadow {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.learn_btn:hover {
  border: 1px solid black;
}

.worrd {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

.fchild {
  @apply h-[300px]   md:h-[367.469px];
}

.eko {
  @apply top-[80%];
}

.Eko {
  @apply px-0 md:px-4;
}
/* Initial position for .eko */
.eko {
  position: absolute;
  font-size: 24px;
  font-family: Oswald, sans-serif;
  font-weight: 500;
  transition: top 0.6s ease-in-out; /* Smooth transition for top property */
  line-height: 26.4px;
  width: 95%;
}

/* On hover, move .eko up */
.Eko:hover .eko {
  top: 7%; /* Target position when hovering */
}

.Eko:not(:hover) .eko {
  transition-delay: 0.6s; /* Delay before moving back to default position */
}

.ekoo {
  @apply absolute top-[30%] text-white px-2 text-[16px];
}

.ekoo {
  visibility: hidden;
  transition: top 0.8s ease-in-out, opacity 1.5s ease-in-out, visibility 0s 1.6s;
  transition-delay: 0s;
  line-height: 24px;
  font-weight: 400;
}

.horizon {
  @apply mt-2;
}
.Eko:hover .ekoo {
  top: 25%;
  opacity: 1;
  visibility: visible;
  top: 25%;
  transition: top 0.3s ease-in-out, opacity 1.5s ease-in-out, visibility 0s 1.5s;
  transition-delay: 0.5s;
}
/* *** */
.Alinks {
  position: absolute;
  top: 90%;
  visibility: hidden;
  transition: top 0.4s ease-in-out, opacity 1.5s ease-in-out, visibility 0s 1.5s;
  transition-delay: 0s;
}

.Alinks {
  @apply flex justify-center gap-7 px-2;
}
.alinks i {
  font-size: 0.8em;
}

.alinkss i {
  font-size: 3rem;
}

.Eko:hover .Alinks {
  top: 70%;
  opacity: 1;
  visibility: visible;
  transition: top 0.3s ease-in-out, opacity 0.2s ease-in-out, visibility 0s 0.7s;
}

.alinks {
  width: 128px;
  /* background-color: blue; */
  position: relative;
  display: flex;
  justify-content: center;
}
.alinks:hover {
  width: 140px;
  /* visibility: hidden; */
  transition: width 0.3s ease-in-out;
}

.clr {
  position: absolute;
  top: 45%;
  left: 0;
  transform: translateY(-50%);
}
.clrr {
  position: absolute;
  top: 45%;
  left: 20%;
  transform: translateY(-50%);
}

.alinks:hover .clr {
  visibility: hidden;
  left: 20%;
  transition: left 0.3s, visibility 0.2s ease-in-out;
}
.alinks:hover .clrr {
  visibility: hidden;
  left: 40%;
  transition: left 0.3s, visibility 0.2s ease-in-out;
}
/* 
.alinkss {
  width: 128px;

  position: relative;
  display: flex;
  justify-content: center;
}
.alinkss:hover {
  width: 170px;

  transition: width 0.3s ease-in-out;
} */

.house {
  position: relative;
  width: 30%;
  /* background-color: brown; */
  left: -13%;
}

.texttt {
  position: relative;
  width: 70%;
  font-size: 13px;
  line-height: 22.1px;
  text-transform: uppercase;
  /* background-color: chartreuse; */
}

.alll {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.8px;
  line-height: 20px;
}
.alll:hover {
  border: 1px solid black;
}

.slide {
  @apply pl-0 md:pl-7 pr-0 md:pr-3 py-4 md:py-0 flex-shrink-0  md:w-1/2 overflow-hidden w-full;
}
.things {
  @apply bg-header  min-h-[210px] py-0 md:py-2 w-full;
}
.this {
  @apply w-full md:w-[303px] h-[200px]   md:h-[202px] flex flex-col gap-7 items-start;
}

.tripleH {
  @apply flex-col md:flex-row p-3 md:px-0 gap-10 md:gap-0;
}

.thisch {
  @apply w-full md:w-[202px] h-[300px]  md:h-[202px] relative left-auto md:-left-8;
}

.sli {
  font-size: 24px;
  line-height: 27.2px;
  font-weight: 700;
  font-family: Oswald, sans-serif;
}

.Aflextchild {
  @apply w-full md:w-[24%]  h-[400px] bg-white;
}
.Aflextchi:hover {
  transition: ease-in-out 0.3s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}
.sky {
  @apply px-4;
}
.skyA {
  @apply mt-4;
}
.mge {
  @apply w-full h-[174.65px];
}

.got {
  @apply w-[50%];
}
.pla {
  @apply h-[2px] w-[105px] bg-black hidden;
}

.bigText {
  font-size: 98px;
  line-height: 166px;
  font-weight: 700;
}

.skychlda {
  font-size: 16px;
  width: 70%;
  line-height: 27.2px;
}

.skychldd {
  font-family: Oswald, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 26.4px;
}

.slideA {
  @apply w-[25%] h-[200.3px] shrink-0;
}

.slideB {
  @apply w-full h-full flex justify-center items-center text-white text-2xl bg-transs hover:bg-Gallery transition ease-in-out duration-700;
}

.bman {
  border: 5px solid rgb(204, 204, 204);
  border-radius: 5px;
}

.nexttt {
  @apply rounded-sm p-[5px] bg-NaDot hover:bg-NaDot2 transition ease-in-out duration-700 cursor-pointer;
}
